.UserHistory-container {
  align-items: top !important;
  height: 350px !important;
  width: 100% !important;
  left: 260px !important;
  justify-content: center !important;
  position: fixed !important;
}

.UserHistory-label {
  display: flex;
  justify-content: start;
  font-size: 18px;
  color: #004990;
  font-weight: 600;
}

.UserHistory-paper {
  border-radius: 4px;
  padding: 3px 10px !important;
  background-color: #ffffff !important;
}

.col-search-download-btn {
  display: flex;
  justify-content: center !important;
  gap: 10px !important;
}

.Search-UserHistory-btn {
  font-size: 14px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6px 12px !important;
  border-color: #6873a9;
  background-color: #6873a9 !important;
}

.Download-Excel-btn {
  font-size: 14px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 6px 18px !important;
  border-color: #019308 !important;
  background-color: #019308 !important;
}

.UserHistory-textField-fontsize {
  font-size: 13px !important;
}

.UserHistory-table {
  max-width: 100vw;
  overflow: auto !important;
  overflow-y: hidden;
  border-radius: 0px !important;
}

.UserHistory-table th.ant-table-cell {
  color: #ffffff !important;
  border-radius: 0% !important;
  background: linear-gradient(to bottom, #5b67cd 0%, #2a38af 100%) !important;
}

.UserHistory-table::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 20px;
  background-color: #ffffff;
}

.UserHistory-table::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #ccc;
  margin-left: -15px;
}
